.header{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background: black;
  opacity: 0.9;
  height: 200px;
  width: 100%;
  border-bottom: 1px solid seashell;

  display:flex;
  justify-items: center;
  z-index: 30;

}




.boxlogo{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-tea-cozy-logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 80%;
  width: 20%;
  margin-left: 5%;

}






.box2 {

  margin-left: 45%;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 30%;

}

.box2 li{
display: inline-block;
text-decoration: underline;
justify-content: space-between;
color: white;
padding: 2%;

}

.container1mg{

  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  z-index: 10;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: cover;
  padding-top: 30%;






}

.container2bg{
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}

#containerid{
  align-items: center;
}

.banner{
  height: 100px;

  color: seashell;
  background: black;
  opacity: 0.9;
  z-index: 30;



}





h2 {
  font-size: 34px;
  text-align: center;
  font-family: Helvetica;
  color: white;

}


h4{
    font-size: 22px;
    font-family: Helvetica;
    text-align: center;
    color: white;
  }

  .container2 {

    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;



  }

  img{
    height: 200px;
    width: 300px;
  }

  .container3bg{
    padding: 40px;
    background-image: url(" https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container3 {

    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #boxes{
    height: 200px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 10px;
  }

  #boxes1{
    height: 300px;
    width: 300px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 10px;
  }

  .footer{
    padding: 20px;
    background-color: black;
  }

  .copy{
    text-align: left;
  }


@media only screen and (min-width: 1200px){
   .box2{
    margin-left: 10%;
    width: 100%;
    color: white;


  }
}
